body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Base {
  text-align: center;
  background-color: #282c34;
}

.Base-logo {
  height: 28vmin;
  pointer-events: none;
  transform: translateY(-10rem);
}

@media (prefers-reduced-motion: no-preference) {
  .Base-logo {
    animation: Base-logo-spin infinite 20s linear;
  }
}

.Base-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
  transform: translateY(-6rem);
}

.Base-header title2 p {
  font-size: calc(10px + 2vmin);
  position: relative;
}

.Base-link {
  color: #61dafb;
  transform: scale(0.8);
}




@keyframes Base-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

